.center {
  display: flex;
  justify-content: center;
}

.feedback-form {
  display: flex;
  align-items: flex-start;
  justify-content: flex-start;
  flex-direction: column;
}

.feedback-form label {
  display: block;
  margin-bottom: 15px;
}

.feedback-form input,
.feedback-form textarea {
  width: 100%;
  padding: 10px;
  margin-top: 5px;
  box-sizing: border-box;
}

input:hover {
  border-radius: 5px;
  cursor: pointer;
}

.feedback-form button {
  padding: 10px 20px;
  cursor: pointer;
  background-color: #4e75ff;
  border: none;
  border-radius: 8px;
  color: #fff;
}

.feedback-form button:hover {
  background-color: #6c8cff;
}

.feedback-form button:active {
}
